<p id="notice"><%= notice %></p>

      <h1 class="mt-5">Private Posts</h1>

      <table class="table table-dark mt-5">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col"></th>

            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr >
              <td class="align-middle"><%= user.name %></td>
              <td class="align-middle"><%= user.email%></td>
              <td class="align-middle"><%= link_to 'Sign In', user , :class => "btn btn-outline-info align-middle"%></td>

            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New User', new_user_path , :class => "btn btn-success mt-3"%>
