
    <%= csrf_meta_tags %>

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header d-none d-md-block">
      <a class="navbar-brand" href="#">DB Associations</a>
    </div>
    
       
      
    <form class="form-inline">
     <ul class="nav">
          <li class="nav-item pr-3"><%= link_to "Attendeces", attendances_path %></li>
          <li class="nav-item pr-3"><%= link_to "Events", events_path %></li>
        </ul>
    <% if logged_in? %>
      <a class="btn btn-outline-primary" href="/users/<%= current_user.id %>" role="button">
        Hi <%= current_user.name %>
      </a>
      <div style="padding-left: 10px;">

        <%= link_to "Log out", logout_path, method: :delete , :class => "btn btn-outline-danger"%>
      </div>
    <% else%>

      <a class="btn btn-outline-primary" href="/login" role="button">
      Login
      </a>
      <div style="padding-left: 10px;">
        <a class="btn btn-outline-success" href="/users/new " role="button">
        Sign Up
        </a>
      </div>
    <% end %>

    </form>
  </div>
</nav>